.navigation {
	font-size:12px;
	clear: both;
	padding: 15px 0px 20px;
	text-align: center;
	cursor:default;
	color:#000;
}
.navigation .current_page_item, .navigation .page_item a {
	outline:none;
	margin:2px;
	padding:2px 6px;
	text-decoration:none;
	border:1px solid #9e8053;
}
.navigation .page_item a {
	color:#282828;
}
.navigation .current_page_item, .navigation .page_item a:hover
{
	color:#fff;
	font-weight:bold;
	background:#dab039;
	border:1px solid #dab039;
}
